<md-card aria-label="Quote">
  <md-card-title aria-label="title">
    <md-card-title-text layout="column" layout-align="center center">
      <span class="md-headline">{{ $ctrl.quote.getTitle() }}</span>
      <span class="md-subhead">{{ $ctrl.quote.getAuthor() }}</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <md-button ng-repeat="tag in $ctrl.quote.tags"
               class="md-primary"
               ng-href="#" target="_blank">{{ tag }}</md-button>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions layout="row" layout-align="end center">
    <md-button class="md-icon-button"
               aria-label="Favorite"
               ng-click="$ctrl.onFavorite($ctrl.quote.id)">
      <md-tooltip>
        Favorite
      </md-tooltip>
      <md-icon>star</md-icon>
    </md-button>
    <md-button aria-label="Next" ng-click="$ctrl.onNext()">
      Next
    </md-button>
  </md-card-actions>
</md-card>
