<md-content layout="column" layout-fill>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span>Quoter</span>
      <span flex></span>
      <!--md-autocomplete flex="55"
                       md-selected-item="vm.selectedItem"
                       md-search-text="vm.searchText"
                       md-min-length="0"
                       md-items="item in vm.getMatches(vm.searchText)"
                       md-item-text="item.display">
        <md-item-template>
          <span md-highlight-text="vm.searchText">{{item.display}}</span>
        </md-item-template>
        <md-not-found>
          No matches found.
        </md-not-found>
      </md-autocomplete-->
      <span flex></span>
    </div>
  </md-toolbar>
  <md-content class="main"
              aria-label="main"
              layout-align="center center"
              flex layout="row">
    <div layout="column" flex="75" layout-align="center center">
      <h4 ng-if="!vm.quote">{{ vm.message }}</h4>
      <quote-card ng-if="vm.quote"
                  quote="vm.quote"
                  on-next="vm.next()"
                  on-favorite="vm.favorite()"></quote-card>
    </div>
  </md-content>
</md-content>
