<!doctype html>
<html class="no-js" lang="en-US">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Quoter</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel='stylesheet' href='./css/main.css'>
  </head>
  <body ng-cloak layout="column" layout-fill>
      <!--[if lt IE 8]>
          <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <!-- Add your site or application content here -->
      <md-toolbar ng-controller="HomeController as home">
        <div class="md-toolbar-tools">
          <span>Quoter</span>
          <span flex></span>
          <md-autocomplete flex="55"
                           md-selected-item="vm.selectedItem"
                           md-search-text="vm.searchText"
                           md-min-length="0"
                           md-items="item in vm.getMatches(vm.searchText)"
                           md-item-text="item.display">
            <md-item-template>
              <span md-highlight-text="vm.searchText">{{item.display}}</span>
            </md-item-template>
            <md-not-found>
              No matches found.
            </md-not-found>
          </md-autocomplete>
          <span flex></span>
        </div>
      </md-toolbar>
      <md-content ng-controller="QuoteCtrl as vm"
                  class="main"
                  aria-label="main"
                  layout-align="center center"
                  flex layout="row">
        <div layout="column" flex="75" layout-align="center center">
          <h4 ng-if="!vm.quote">{{ vm.message }}</h4>
          <quote-card quote="vm.quote"
                      layout-fill
                      on-favorite="vm.favorite()"></quote-card>
          <md-button ng-if="vm.quote"
                     aria-label="Next" ng-click="vm.next()">
             Next
          </md-button>
        </div>
      </md-content>

      <script src="
https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>

      <!-- Angular Material requires Angular.js Libraries -->
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

      <!-- Angular Material Library -->
      <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
      <!-- Application bootstrap  -->
      <script src="./js/bundle.js"></script>
  </body>
</html>
